.header {
  position: relative;
}
.upperHeader {
  display: flex;
  justify-content: space-between;
  background: rgb(0, 0, 0);
  color: white;
  padding: 10px 2vw;
  height: 10vh;
  &__logo {
    order: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    &__link {
      height: 100%;
      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__signInBtn {
    display: flex;
    justify-content: start;
    align-items: center;
    order: 1;
  }
}

.signInBtn {
  &__btn {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  &__stick {
    position: relative;
    top: -3px;
  }
}
.lowerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  top: -2px;
  background: #fff;
  padding: 0px 2vw;
}
.burgerButton {
  display: flex;
  align-items: center;
  justify-content: end;
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .upperHeader {
    &__logo {
      flex: 0 0 50%;
      justify-content: center;
      align-items: center;
    }
    &__signInBtn {
      flex: 0 0 25%;
    }
  }
  .lowerHeader {
    flex-direction: column;
  }
  .burgerButton {
    display: flex;
    order: 3;
    flex: 0 0 25%;
    &__active {
      & div {
        &:nth-child(1) {
          opacity: 0;
          transform: scale(0);
          top: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          opacity: 0;
          transform: scale(0);
          bottom: 50%;
        }
      }
    }
  }
}
