.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  order: 1;
  &__link {
    list-style: none;
    font-size: 20px;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 20px;
    &:first-child {
      margin: 0;
      padding-left: 0;
      &:after {
        left: -6%;
      }
    }
    &:after {
      position: absolute;
      content: "";
      height: 2px;
      bottom: 10px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 90%;
      transition: 0.3s;
    }
    &:hover::after {
      background: rgb(143, 143, 143);
      transition: 0.3s;
      bottom: 4px;
    }
  }
}
@media screen and (max-width: 768px) {
  .headerNav {
    order: 2;
    flex-direction: column;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.853);
    &__active {
      top: 10vh;
      transition: 0.5s;
    }
    &__link {
      &:first-child {
        margin-left: 5px;
        padding: 15px 20px;
      }
    }
  }
}
